{% extends "base.html" %}

{% block title %}TownAHallic U{% endblock %}

{% block content %}


<!--     <div id="myCarousel" class="carousel slide">
        <ol class="carousel-indicators" style="bottom:0;">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        </ol>
        <div class="carousel-inner">
            <div class="item active" style="/* background:url(http://subtlepatterns.com/patterns/tweed.png) repeat; */ background:#f05425;">
                    <div class="carousel-caption" style="position:relative; display:inline-block; width:100%; top:0; bottom:0; right:0; left:0; padding:40px 0;">
                        <img class="img-rounded" src="../static/img/logo.jpg" style="display:block; width:auto; height:auto; max-width:50%; max-height:200px; margin:auto; border:8px solid #fff">
                        <h1>TOWNAHALLIC U</h1>
                        <div class="row">
                            <p class="col-lg-4 col-lg-offset-4 col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                        </div>
                        <a class="btn btn-lg btn-success" href="#">Find Us on the AppStore</a>
                    </div>
            </div>
        </div>
        <a class="left carousel-control" href="#myCarousel" data-slide="prev" style="z-index:12;"><span class="icon-prev"></span></a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next" style="z-index:12;"><span class="icon-next"></span></a>
    </div> -->

    <div class="container">
        <div class="row">
            <div class="col-lg-4 text-center">
                <h2>Groups</h2>
                <p class="text-muted">Sample sample sample text here. I really hope this spans multiple lines. Please, PLEASE!</p>
                <img src="../static/img/group.png" style="width:100%; margin:15px 0 0 0; padding:0 20%;">
            </div>
            <div class="col-lg-4 text-center">
                <h2>Events</h2>
                <p class="text-muted">Sample sample sample text here. I really hope this spans multiple lines. Please, PLEASE!</p>
                <img src="../static/img/iphone.png" style="width:100%; margin:15px 0 0 0; padding:0 20%;">
            </div>
            <div class="col-lg-4 text-center">
                <h2>Leaders</h2>
                <p class="text-muted">Sample sample sample text here. I really hope this spans multiple lines. Please, PLEASE!</p>
                <img src="../static/img/leader.png" style="width:100%; margin:15px 0 0 0; padding:0 20%;">
            </div>
        </div>
    </div>

    <div style="background:#ccc; padding-bottom:50px;">
        <div class="container">
            <h1 class="text-center" style="margin-top:40px; font-size:4em; color:#333;">Who We Are</h1>
            
            <div class="col-lg-4 text-center" style="margin-top:40px;">
                <img src="../static/img/dominick.jpg" alt="Dominick Ardis" class="img-circle" style="width:100%; padding:0 25%;">
                <h2 style="margin:10px 0 0 0;">Dominick Ardis</h2>
                <small style="color:#d03e27;">Mayor of the Town</small>
                <p class="text-muted">Sample sample sample text here. I really hope this spans multiple lines. Please, PLEASE!</p>
            </div>
            <div class="col-lg-4 text-center" style="margin-top:40px;">
                <img src="../static/img/connor.jpg" alt="Connor Grady" class="img-circle" style="width:100%; padding:0 25%;">
                <h2 style="margin:10px 0 0 0;">Connor Grady</h2>
                <small style="color:#d03e27;">Commissioner of Infrastructure</small>
                <p class="text-muted">Sample sample sample text here. I really hope this spans multiple lines. Please, PLEASE!</p>
            </div>
            <div class="col-lg-4 text-center" style="margin-top:40px;">
                <img src="../static/img/enrique.jpg" alt="Enrique Morgan" class="img-circle" style="width:100%; padding:0 25%;">
                <h2 style="margin:10px 0 0 0;">Enrique Morgan</h2>
                <small style="color:#d03e27;">Commissioner of Design</small>
                <p class="text-muted">Sample sample sample text here. I really hope this spans multiple lines. Please, PLEASE!</p>
            </div>
            <div class="col-lg-4 col-lg-offset-2 text-center" style="margin-top:40px;">
                <img src="../static/img/lucas.jpg" alt="Lucas Lindsey" class="img-circle" style="width:100%; padding:0 25%;">
                <h2 style="margin:10px 0 0 0;">Lucas Lindsey</h2>
                <small style="color:#d03e27;">Commmissioner of </small>
                <p class="text-muted">Sample sample sample text here. I really hope this spans multiple lines. Please, PLEASE!</p>
            </div>
            <div class="col-lg-4 text-center" style="margin-top:40px;">
                <img src="../static/img/vince.jpg" alt="Vince Evans" class="img-circle" style="width:100%; padding:0 25%;">
                <h2 style="margin:10px 0 0 0;">Vince Evans</h2>
                <small style="color:#d03e27;">Commissioner of </small>
                <p class="text-muted">Sample sample sample text here. I really hope this spans multiple lines. Please, PLEASE!</p>
            </div>
        </div>
    </div>

{% endblock %}